<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
<body>
	<ul id="messages"></ul>
	<form action="">
		<input id="m" autocomplete="off" />
		<button>Senggdeeee</button>
	</form>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js"></script>
	<script src="/socket_client.js"></script>
</body>
</html>
